<div>
    <mat-form-field>
        <input matInput class="form-field" [formControl]="nameFilter" placeholder="Nombre">
    </mat-form-field>
</div>

<div class="input-group mb-5">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Opciones</label>
    </div>
    <select [formControl]="cityFilter" class="custom-select" id="inputGroupSelect01">
    <option selected></option>
    <option value="personas">personas</option>
    <option value="elementos">elementos</option>
  </select>
</div>


<table mat-table [dataSource]="dataSource" class="table table-hover">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th *matHeaderCellDef> No.

        </th>
        <td *matCellDef="let element"> {{ element.position }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th *matHeaderCellDef> Name

        </th>
        <td *matCellDef="let element"> {{ element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="age">
        <th *matHeaderCellDef> Edad </th>
        <td *matCellDef="let element"> {{ element.age }} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="city">
        <th *matHeaderCellDef> Ciudad </th>
        <td *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->