<div>
    <mat-form-field>
        <input matInput class="form-field" [formControl]="nameFilter" placeholder="Nombre">
    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <input matInput class="form-field" [formControl]="surnameFilter" placeholder="Apellido">
    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <input matInput class="form-field" [formControl]="cityFilter" placeholder="Ciudad">
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="table table-hover">


    <ng-container matColumnDef="position">
        <th *matHeaderCellDef> No.
        </th>
        <td *matCellDef="let element"> {{ element.position }} </td>
    </ng-container>


    <ng-container matColumnDef="name">
        <th *matHeaderCellDef> Nombre
        </th>
        <td *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>



    <ng-container matColumnDef="surnames">
        <th *matHeaderCellDef> Apellidos
        </th>
        <td *matCellDef="let element"> {{ element.surnames }} </td>
    </ng-container>



    <ng-container matColumnDef="age">
        <th *matHeaderCellDef> Edad </th>
        <td *matCellDef="let element"> {{ element.age }} </td>
    </ng-container>


    <ng-container matColumnDef="city">
        <th *matHeaderCellDef> Ciudad </th>
        <td *matCellDef="let element"> {{ element.city }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>